*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.container{
    top:30px;
}
.form2{
    width: 465px;
    height: 300px;
    margin-top: 40px;
    size: 290px;
    float: right;
    padding-left: 100px;
}
.form1 {
    float: left;
    height: 300px;
    padding-left: 90px;
    margin-top: 40px;
    width: 465px;
}
.f3{
    padding-top: 450px;
    padding-left: 350px;
}
.form1 .col-md-5{
    margin-top: 10px;
}
.form2 .col-md-5{
    margin-top: 10px;
}
.btn btn-primary{
    left:600px;
}